* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:  #142b40;
}

footer, header {
    background-color: #142b40 !important;
    font-weight: bold;
}

.st-filter {
    margin: 0px 65px;
}

.st-filter__box {
    position: relative;
    background-color: #FDFDFD;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3); /* Propiedad de sombra */
    padding: 10px 30px;
    margin: -15px 40px 0px 40px;
}

/* Esto se aplica cuando se empieza a perder la visibilidad */
.st-filter__box.bg {
    background-color: #142b40;
    box-shadow: none;
}
.sticky-lg-top.stuck  {
    background-color: #142b40;
    margin: 0px;
}
/* -------------------------------------------------------- */

@media (max-width: 1200px) {
    .st-filter {
        margin: 0px 20px;
    }
}


@media (max-width: 992px) {
    .st-filter {
        background-color: #142b40;
        margin: 0px;
    }
    .carousel {
        display: none;
    }
    .st-filter__box{
        background-color: #142b40;
        margin: 0px 10px;
        box-shadow: none;
    }
}

footer ul li {
    list-style-type: none;
    margin: 7px 0px;
}

footer ul {
    padding-left: 0;
}

.st-fotter-link{
    text-decoration: none;
    color: #cccccc;
    font-size: 0.8em;
}

footer p {
    color: #cccccc !important;
}

.icon-social {
    display: flex;
    width: 20px;
}

.icon-social i {
    width: 40px;
    margin: 10px;
    font-size: 25px;
}

.icon-social i:hover{
    /* color: #ffca2c; */
    color: red;
}

.developedBy {
    border-top: 1px solid white;
    margin-top: 5px;
    padding-top: 20px;
}

a.st-fotter-link:hover {
    color: red;
}